@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  transition: all 0.35s ease;
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
  background-color: #222;
  color: #fff;
}

::moz-selection {
  color: white;
  background-color: #00acc1;
}
::selection {
  color: white;
  background-color: #00acc1;
}
